---
layout: page
title: Amendment 4
subtitle: A compilation of Florida's Amendment 4 and the litigation about restoring felon voting rights.
use-site-title: true
---

<div class="post-entry-container">
  <div class="post-entry">
    <p>Amendment 4, which restores felon voting rights upon completion of sentence,
    was passed by Florida voters in 2018.</p>
    <p>In 2019 the Florida Legislature passed Senate Bill 7066 which claimed to
      implement Amendment 4, and specified what terms of a sentence must be satisfied
      as well as avenues for waiving or converting fines and fees to community service
      hours.</p>
      <p>This site is a repository of the documents about Amendment 4, Senate Bill 7066,
        and the court cases challenging the legislature's effort to implement Amendment 4.
      </p>
      <p>This site was created with GitHub Pages, and if you want to contribute material click the
        'contribute' link at the top right.
      </p>
  </div>


<div style="text-align:center">
  <h1>Cases</h1>
    <hr class="small">
    <h4>Current cases challenging SB 7066 - the legislation implementing Amendment 4</h4>
</div>

<div class="posts-list">
  {% for post in site.cases %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>


    <div class="post-entry-container">
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>


   </article>
  {% endfor %}
</div>

<div style="text-align:center">
  <h1>Ballot Language</h1>
    <hr class="small">
    <h4>The language and ballow summaries for Amendment 4 when it was passed in 2018</h4>
</div>

<div class="posts-list">
  {% for post in site.ballot %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>


    <div class="post-entry-container">
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>


   </article>
  {% endfor %}
</div>








<div style="text-align:center">
  <h1>Blog</h1>
</div>
<hr class="small">

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
